body{
    font-family: Calibri;
}
.article_list {
    border: 2px solid #555;
    border-radius: 5px;
    width: 380px;
    float: left;
    text-align: center;
    margin: 15px;
    padding: 20px;
    position: relative;
}

.answer{
    display:inline-block;
    font-size: 25px;
}

#name_art{
    font-size: 40px;
    font-weight: bold;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.xpandable-block {
    height: 250px;
    overflow: hidden;
    order: 0;
}

.xpand-button {
    order: 1;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .xpandable-block {
    height: auto;
}

label {
    order: 1;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
}

.voteImg{
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 45px;
    margin-bottom: 10px;
}

#mainVoteImg{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
}

button{
    outline:none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    width: 90px;
    margin-right: 35px;
}

.checkVoteImg{
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}